body 
{
    background-image: linear-gradient(to bottom right, #ff35a7, #f37dac, #e99b9b);
}

#clear_canvas
{
    font-size: 150%;
    font-family: cursive;
    color:rgb(155, 0, 169);
}

#show_sketch
{
    font-size: 150%;
    font-family:sans-serif;
    color:rgb(255, 169, 233);
    float:right;
}

h1
{
    color:rgb(81, 0, 42);
    font-family: fantasy;
    background-color:#ffdfdf;
}

canvas 
{
    border: 6px solid white;
    border-radius: 20px;
    animation-name: example; 
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-top: 50px;
}

@keyframes example
{
    from{box-shadow: 1px 1px 38px rgb(255, 129, 240);}
    to{box-shadow: 1px 1px 38px rgb(4, 0, 255);}
}

p
{
padding-top: 10px;
font-size: 25px;
}